   html{
     background:rgb(255,255,255);
     font-size:10px;
     width:100%;
   }

   body{
     width:100%;
     max-width:1600px;
     text-align:center;
     margin:auto;
     display:flex;
     justify-content: center;
     align-items: center;
     flex-flow: row wrap;
   }

   #banner {
     display:flex;
     justify-content: center;
     align-items: center;
     flex-flow:row wrap;
     width:100%;
   }

   #starter-pokemon-img{
     width:250px;
     padding-left:10px;
   }

   #headline {
    text-align:center;
    font-family:"Tomorrow", sans-serif;
    font-size:9rem;
    margin:auto;
    padding:10px 0;
    width:100%;
   }

   #pokeball {
     width:100px;
     height:auto;
     margin:5px auto 30px;
     padding:0;
   }

   #sorting{
     background:#ff3e32;
     text-align:center;
     width: 100%;
     margin:0 auto 10px;
     border-top:2px solid black;
     border-bottom:2px solid black;
     padding:20px;
     font-family:"Tomorrow", sans-serif;
   }

   #sort-label {
    font-size:3rem;
    font-weight:700;
    margin-right:10px;
   }
   
   #type-selector{
     font-size:2.4rem;
     font-weight:400;
   }

   #content-wrapper{
     display:flex;
     justify-content: center;
     align-items: center;
     flex-flow:row wrap;
   }

   /*Pokemon Card Divs -  Global */
   .poke-div {
     display:block;
     height:240px;
     width:160px;
     border-radius:5px;
     border:1px solid black;
     margin:20px;
     font-size:1.6rem;
     font-family:"Tomorrow", sans-serif;
     font-weight: 300;
   }

   .poke-card-img{
     width:66%;
     height: auto;
     padding:5px;
     border:1px solid black;
     border-radius:50%;
     background:white;
   }

   .poke-div:hover {
     transform:scale(1.01);
     box-shadow: 10px 10px 5px 0.25px black;     
     cursor: pointer;
   }

   /*MODALS*/
   .poke-modal{
     display:none;
     background:rgba(0,0,0,0.8);
     width:100%;
     height:100%;
     display:none;
     position:fixed;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     overflow:auto;
     z-index:1;
     border-radius:5px;
   }
   
   .poke-modal-content {
    position:relative;
    width:400px;
    height:600px;
    margin:3% auto;
    padding:10px;
    border-radius:5px;
    text-align:center;
   }

   .poke-modal-img {
     background:white;
     width:75%;
     height:auto;
     border:1px solid black;
     border-radius:50%;
     padding:5px;
     margin:5% auto;
   }

   .modal-text {
     width:100%;
     font-family:"Tomorrow", sans-serif;
     padding:0;
     margin:5px auto;
     font-size:2rem;
     text-align:center;
   }

   .modal-close-button{
     background:white;
     border-radius:5px;
     font-family:"Tomorrow", sans-serif;
     font-size:1.5rem;
     font-weight:bold;
     padding:5px 15px;
     margin:10px auto;
   }

   .modal-close-button:hover{
    transform:scale(1.1);
    box-shadow: 5px 5px 5px 0.25px;
    cursor: pointer;
   }

   /*Footer*/

   #footer {
     margin:30px 0;
     padding:25px;
     width:100%;
     border-top:2px solid black;
     border-bottom:2px solid black;
     display:flex;
     justify-content: center;
     align-items: center;
     flex-flow:row wrap;
     background:#ff3e32
   }

   #growlithe-img{
     width:250px;
  }

   #footer-content{
     text-align:center;
     font-family:"Tomorrow", sans-serif;
     font-size:2rem;
     color:white;
     font-weight:700;
     margin:0 50px;
   }

   #squirtle-img{
     width:150px;
     padding-right:100px;
   }


/*Mobile*/

@media only screen and (max-width: 768px) {
  #headline {
    font-size:5rem;
  }

  #pokeball {
    width:75px;
  }

  #sort-label{
    font-size:2.4rem;
  }

  .poke-div{
    width:120px;
    height:180px;
    font-size:1.2rem;
  }

  .poke-card-img{
    margin-top:5px;
  }

  .poke-modal-content {
   width:300px;
   height:450px;
   margin:40% auto;
  }

  .modal-text{
    font-size:1.6rem;
  }

  #squirtle-img{
    width:75px;
    padding:0;
  }

  #growlithe-img{
    width:125px;
  }

  #footer-content{
    margin:0 auto;
    width:100%;
  }
}